<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-page">
        {{>header}}
        <p>This website was created by Murugesh</p>
        <img class="protrait" src="/img/1-whytheweathe.jpg">
    </div>
    
    {{>footer}}
</body>

</html>